h1 a {
  text-decoration: none;
}

.createWrap {
  display: inline-block;
  width: auto;
  padding: 40px;
  box-sizing: border-box;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border: 1px solid hotpink;
  border-radius: 6px;
}
