h1 a {
  text-decoration: none;
}

.createWrap {
  width: 300px;

  display: flex;
  flex-direction: column;
}
.create {
  width: 100%;
  padding: 40px 80px;
  box-sizing: border-box;
  margin-bottom: 20px;

  background: rgb(229, 120, 93);
  background: linear-gradient(
    90deg,
    rgba(229, 120, 93, 0.7) 30%,
    rgba(237, 190, 178, 0.6) 100%
  );
  border: 1px solid #e5785d;
  border-radius: 6px;

  color: white;
}
